/* color swatch: */
/* body {

    background-color: #a9bcc2;
    background-color: #80aebd;
    background-color: #323433;
    background-color: #cbbc97;
    background-color: #81979b;
} */



body {
    margin: 0;
    font-family: 'Patua One', cursive;

    /* background:#a9bcc2; */

    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}



img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0;


}

p {
    padding: 1em 0;
}

.btn {
    display: inline-block;
    background: darkgray;
    color: white;
    padding: 1em 2em;
    border: 2px solid #666;
    text-decoration: none;
    margin-bottom: 3em;
    font-size: 22px;
}


.btn:hover {
    background: #cbbc97;
}

/* navbar */

#navbar {
    overflow: hidden;
    background-color: #80aebd;
    z-index: 2;
    display: flex;
    justify-content: center;

}

#navbar a {
    float: left;
    font-size: 25px;

    text-align: center;
    letter-spacing: .1em;
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;


}

#navbar a:hover {
    background: #cbbc97;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* header showcase section */
#showcase {
    min-height: 425px;
    text-align: center;
    color: white;
}

#showcase .back-image {
    position: absolute;
    background: url("../images/moon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;


}

#showcase h1 {
    padding-top: 50px;
    font-size: 50px;
}

#showcase h2 {
    padding-bottom: 100px;
}

#showcase .content-wrap {
    padding: 0 1.5em;
}

.content-title {
    padding: 1em 0;
}

/* Section A */

#section-z {
    padding-bottom: 3em;
    background-color: white;
}

.about-text {
    font-size: 23px;

}

#section-a {
    background: white;
    color: gray;
    padding-bottom: 2em;
}

#section-b {
    /* padding:1em 1em 1em; */
    /* border-top:10px solid lightgray; */
    border-bottom: 10px solid lightgray;
    padding-bottom: 4em;
}

.plax {
    background-image: url("../images/mnt_lake.jpg");
    min-height: 140px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#section-b ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#section-b li {
    background: white;
    color: rgb(26, 16, 168);
    margin-bottom: 1em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: box-shadow .5s;

}

.butt {
    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    transition: box-shadow .5s;
    color: black;
}

#section-b li:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.butt:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, .5);
    cursor: pointer;
    color: blue;
}

.plaxC {
    background-image: url("../images/red_forest.jpg");
    min-height: 140px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#section-c {
    padding-bottom: 2em;
    border-bottom: 10px solid lightgray;
}

#photo-me img {
    display: flex;
    width: 50%;
    margin: 0 auto;
    border-radius: 50%;

}

.card {
    border-radius: 20px;
}

.card-content {
    padding: .25em;
}

.card-title {
    padding: 0em;
    padding-bottom: 1em;

}

#section-c {
    background: white;
    color: black;
}

.plaxD {
    background-image: url("../images/lush.jpg");
    min-height: 140px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.card-inf {
    font-size: 12px;
    color: black;
}

#section-d .box {
    padding: 2em;
    color: black;

}

#section-d .box:first-child {
    background: #cbbc97;
}

.content-wrap {
    margin: 0 1em 0 1em;
}

.contentD {
    color: black;
}

.link-g {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

#main-footer {
    height: 60px;
    background-color: darkgray;
    border-top: 10px solid lightgray;
    padding: 2em;
    color: white;
    text-align: left;
}

@media(min-width:700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;

    }

    #section-a .text-content {
        columns: 2;
        column-gap: 4em;
    }

    #section-a .text-content {
        padding-top: 0;
    }

    .content-wrap {

        grid-column: 2/4;

    }

    .content-title {
        font-size: 40px;
    }


    .card-title {
        margin-bottom: 0;
    }

    #section-b ul {
        display: flex;
        justify-content: space-around;
        grid-column: span 4;

    }

    .plax,
    .plaxC,
    .plaxD {
        grid-column: span 4;
    }


    #section-b li {
        width: 22%;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }



    #photo-me img {
        height: 300px;
        width: auto;
        border-radius: 50%;
        float: left;
        border: 2px solid #cbbc97;
        margin-right: 4em;

    }

    .about-text {
        font-size: 23px;
        text-align: left;
        padding-left: 2em;
    }

    .photo-wrap {
        float: left;
        padding-left: 25px;
        padding-right: 25px;
    }
}